<html>
  <head>
    <meta charset="utf-8">
    <title>Text Detector</title>
    <link href="/comic/writer/static/css/writer.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"><router-view></router-view></div>
  </body>

  <template id="app-text-detector">
    <div style="display: inline-block;">
      <div style="position: sticky; top: 0; z-index: 999; display: flex;">
        <div><button class="edit" v-on:click.prevent="showOcr = !showOcr">{{ showOcr ? 'Hide OCR' : 'Show OCR' }}</button></div>
        <div><button class="edit" v-on:click.prevent="showEdit = !showEdit">{{ showEdit ? 'Hide Edit' : 'Show Edit' }}</button></div>
        <div><button class="edit" v-on:click.prevent="saveBoxes">Save Boxes</button></div>
        <div><button class="edit" v-on:click.prevent="runOcr">Run Ocr</button></div>
      </div>
      <div style="position: relative; display: inline-block" id="targetMe">
        <img :src="showOcr ? textSrc : page.src" v-on:click.prevent="addBox"/>
        <div v-if="nwCorner" :style="{ color: 'red', position: 'absolute', top: nwCorner.y, left: nwCorner.x }">X</div>
        <img v-if="!showEdit" :src="whiteSrc" style="position: absolute; top: 0; left: 0"/>
        <template v-for="(box, i) in textBoxes">
          <div v-if="box.y0" :class="['text-box', showEdit ? 'blue' : 'trans']" :style="{ top: box.y0, left: box.x0, width: box.w0, height: box.h0, 'font-size': box.fsize }">
            <div :style="{ 'padding-left': box.lrpad, 'padding-right': box.lrpad, 'font-family': box.font }">{{ box.fin }}</div>
          </div>
          <div :style="{ display: showEdit ? 'inline' : 'none' }">
            <div class="text-box red" :style="{ top: box.y, left: box.x, width: box.w, height: box.h }"></div>
            <div class="text-box-ctrl" :style="{ top: box.y + box.h - 60, left: box.x + box.w }">
              <div><button v-on:click.prevent="removeBoxAt(i)">X</button></div>
              <div><button v-on:click.prevent="toggleBoxEdit(i)">{{ i + 1 }}</button></div>
            </div>
            <div class="text-box-ctrl" v-if="box.showEdit" :style="{ top: box.y + box.h, left: box.x, 'z-index': 100 }">
              <div>
                <input v-model="box.newOrder" type="number" :placeholder="i + 1">
                <button v-on:click.prevent="reorderBox(i)">O</button>
              </div>
              <div>
                <input v-model="box.fsize" type="number" placeholder="Font">
                <input v-model="box.lrpad" type="number" placeholder="Pad">
                <select v-model="box.font">
                  <option v-for="font in fonts">{{ font }}</option>
                </select>
              </div>
              <div><input v-model="box.raw" placeholder="RAW"></div>
              <div><textarea style="width: 20em; height: 5em"v-model="box.fin" placeholder="FIN"></textarea></div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </template>

  <template id="app-page-container">
    <div>
      <app-text-detector
        :page="page"
        :default-boxes="textBoxes"
        @save-boxes="saveBoxes"
        @run-ocr="runOcr"
      ></app-text-detector>
    </div>
  </template>

  <template id="app-book-container">
    <div>
      <div style="display: flex;">
        <div><router-link :to="prevPageUrl"><div class="nav-button">Prev Page</div></router-link></div>
        <div>Curr Page</div>
        <div><router-link :to="nextPageUrl"><div class="nav-button">Next Page</div></router-link></div>
      </div>
      <div>{{ bookId }}</div>
      <router-view></router-view>
    </div>
  </template>

  <script src="/static/js/vue.js"></script>
  <script src="/static/js/vue-router.js"></script>
  <script src="/comic/writer/text-detector.js"></script>
  <script src="/comic/writer/page-container.js"></script>
  <script src="/comic/writer/book-container.js"></script>
  <script src="/comic/writer/app.js"></script>
</html>
