@font-face {
  font-family: 'augie';
  src: url('/static/fonts/augie-webfont.woff2') format('woff2'),
       url('/static/fonts/augie-webfont.woff') format('woff'),
       url('/static/fonts/augie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: gray;
}

input[type="number"] {
  width: 5em;
}

.text-box-ctrl {
  position: absolute;
}

.text-box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: pre-line;
}

.text-box.red {
  border: solid red;
}

.text-box.blue {
  border: solid blue;
  color: blue;
}

.text-box.trans {
  border: solid transparent;
}

button.edit {
  height: 5em;
  width: 15em;
}